.bg1
{
 
background-image: url('../../assets/images/14Asset36.png');
width: 231px;
height: 356px;
}
.bg2
{
    margin-left: 50px;
    background-image: url('../../assets/images/14Asset37.png');
    width: 231px;
    height: 996px;
}