<div class="bg1">
    <div class="searchBar">
        <img src="../../assets/images/14Asset2.png" style="margin-left: 10px;">
        <img src="../../assets/images/14Asset17.png" style="margin-left: 10px;">
        <img src="../../assets/images/14Asset16.png" style="margin-left: 10px;">
        <img src="../../assets/images/14Asset14.png" style="margin-left: 10px;">

    </div>
    <div class="topBar">
        <img src="../../assets/images/14Asset8.png" style="margin-left: 10px;">
        <img src="../../assets/images/14Asset9.png" style="margin-left: 10px;">
        <img src="../../assets/images/14Asset10.png"  style="margin-left: 10px;">
        <img src="../../assets/images/14Asset11.png"  style="margin-left: 10px;">
        <img src="../../assets/images/14Asset12.png"  style="margin-left: 10px;">
        <img src="../../assets/images/14Asset13.png" style="margin-left: 10px;" >

    </div>
    <ul>
        <li *ngFor="let historyData of history">
            <app-history-item [historyData]=historyData></app-history-item>
        </li>
    </ul>

</div>

