<div style="display: flex;">
    <div class="userImg">
        {{historyData.user.name}}
    </div>
    <div class="userPhone">
        {{historyData.user.phone}}
    </div>
    <div class="userAddess">
        {{historyData.user.phone}}
    </div>
    <div class="NumPayments">

    </div>
    <div class="PaidAmount">
        {{historyData.Amount}}
    </div>
    <div class="PaidDate">

    </div>
    <div *ngIf="historyData.paymentType==1" class="BuisnessPaid"></div>
    <div *ngIf="historyData.paymentType==2" class="BuissnessRecived"></div>
    <div *ngIf="historyData.paymentType==3" class="BuisnessRequest"></div>
    <div *ngIf="historyData.paymentType==4" class="BuisnessOwn"></div>
</div>
