.userImg
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;
}
.userPhone
{
  background-image: url('../../assets/images/14Asset19.png');
  width: 138;
  height: 38;
}
.userAddess
{
  background-image: url('../../assets/images/14Asset19.png');
  width: 138;
  height: 38;
}
.NumPayments
{
  background-image: url('../../assets/images/14Asset21.png');
  width: 138;
  height: 38;
}
.PaidAmount
{
  background-image: url('../../assets/images/14Asset22.png');
  width: 138;
  height: 38;
}
.PaidDate
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;

}
.BuisnessPaid
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;
}
.BuisnessPaid
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;
}
.BuissnessRecived
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;
}
.BuisnessRequest
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;
}
.BuisnessOwn
{
  background-image: url('../../assets/images/14Asset18.png');
  width: 138;
  height: 38;
}
